[[source]]
name = "fints_ynab"
url = "https://github.com/bahlo/fints-ynab"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
fints = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"
