[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
pytest = "*"
pipenv-setup = "*"

[packages]
requests = "*"
fints = "*"
python-dotenv = "*"
chardet = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
